{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Citas Medicas {% endblock title %}

{% block content %}
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">

        </div>
    </div>
    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Reservas</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Fecha de cita</th>
                                <th scope="col">Hora de cita</th>
                                <th scope="col">Institucion</th>
                                <th scope="col">Paciente</th>
                                <th scope="col">Estado</th> 
                                <th scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for patient in patients %}
                                <tr>
                                    <td>
                                        <b>{{ patient.datetime|date:"SHORT_DATE_FORMAT" }}</b>
                                    </td>
                                    <td>
                                        <b>{{ patient.datetime|time:"TIME_FORMAT" }}</b>
                                    </td>
                                    <th scope="col">{{ patients.tenant |title }}</th>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <span class="mb-0 text-sm">{{ patients.virtual_profile |title }}</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        {% if patient.status == 0 %}
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-warning"></i>
                                                <span class="status">Nueva</span>
                                              </span>
                                        {% elif patient.status == 1%}
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-success"></i>
                                                <span class="status">Confirmado</span>
                                            </span>
                                        {% elif patient.status == 2%}
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-primary"></i>
                                                <span class="status">Sin Confirmar</span>
                                            </span>
                                        {% elif patient.status == 3 %}
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-danger"></i>
                                                <span class="status">Cancelada</span>
                                            </span>
                                        {% elif patient.status == 4 %}
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-info"></i>
                                                <span class="status">No se presentó</span>
                                            </span>
                                        {% else %}
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-default"></i>
                                                <span class="status">Reagendada</span>
                                            </span>
                                        {% endif %}
                                    </td>
                                    
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <span class="mb-0 text-sm">
                                                    <a href="{{ patient.meeting_link |title }}" class="btn btn-sm btn-success">Entrar a Reunion</a>
                                                 
                                                    <a href="{% url 'online:detail' booking_id=patient.id %}" class="btn btn-sm btn-info">Ver Detalle</a>
                                                </span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="{% url 'online:detail' booking_id=patient.id %}">Reprogramar Cita</a>
                                                <a class="dropdown-item" href="{% url 'online:detail' booking_id=patient.id %}">Cancelar Cita</a>
                                                <a class="dropdown-item" href="/online/{{patient.id}}/close/">Finalizar</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% include "includes/footer.html" %}
    </div>
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
