{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">

        </div>
    </div>

    <div class="container-fluid mt--7">

        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Prescriptions</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Num. Ref. </th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Doctor</th>
                                <th scope="col">Paciente</th>
                                <th scope="col">Status</th>
                                <th scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for bookingdoctordetail in bookingdoctordetails %}
                                <tr>
                                    <td>
                                        <b>{{ bookingdoctordetail.id }}</b>
                                    </td>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <span class="mb-0 text-sm">{{ bookingdoctordetail.booking_detail.booking_id.datetime }}</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        <b>{{ bookingdoctordetail.booking_detail.booking_id.doctor_id.profile.full_name }}</b>
                                    </td>
                                    <td>
                                        <b>{{ bookingdoctordetail.booking_detail.booking_id.client_id.profile.full_name }}</b>
                                    </td>
                                    <td>
                        <span class="badge badge-dot mr-4">
                            <i class="bg-success"></i> delivered
                        </span>
                                    </td>
                                    <td>
                                        <a href="/pdf/{{bookingdoctordetail.booking_detail.booking_id.id}}" class="btn btn-sm btn-primary">Descarga</a>
                                    </td>
                                     
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                  
                </div>
            </div>
        </div>


        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
