{% load rest_framework %}

{% comment %} <html><body>

{% for item in items %}

<h1>item - {{ item.title }}</h1>
<h1>Precio - {{ item.unit_price}}</h1>

{% endfor %}
{% comment %} <form method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" value="Save">
</form> 


<script
    src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
    data-preference-id="6367338741216916">
</script> {% endcomment %}

<!DOCTYPE HTML>
<!-- THE DOCTYPE tells the browser what type of webpage to render, the doctype used in this website is HTML5 which is the most recent HTML. -->
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>CheckOut</title>
	<!-- THE TITLE element is the name of the page, it is also visible in the browser tab. Its always good practice to give each page an appropriate title. -->
	<meta name="description" content="A sample website, nothin fancy">
      <meta http-equiv="author" content="Francisco Campos Arias">
      <meta name="keywords" content="html, css, web, design, sample, practice">
      <!-- These are META TAGS, they're used to describe the website, this information is read mainly by search engines like GOOGLE, YAHOO, ETC... -->	
	<link rel="stylesheet" href="style.css">
	<script src="http://localhost:8080/target/target-script-min.js#anonymous"></script>
</head>
<body>
	<div class="container">
<!-- THIS ACTUAL CONTENT BEGINS HERE...this is called a comment. which can only be seen when viewing the source code. This text CANNOT be seen by the browser. Its helpful when you need to place notes, comments or reminders in your code -->
	<header>
		<div class="header">
			<h1>Listado de articulos</h1>
		</div>
	</header>
	<!-- END HEADER | the header element in new to HTML5 -->
		<div class="main">
			<h2>Detalle de articulos a pagar:</h2>
		</div>

		<div class="feature">
			<h3>Carrito de compras</h3>
			<p>Resumen detallado de los items a pagar.</p>
			<!-- LOREM IPSUM is universally used. Lorem ipsum is dummy text, it does't really mean anything. Its used to fill space or for mockups. -->
            <ul>
                <!--<li>Item1</li>
                <li>Item2</li>
                <li>Item3</li>-->
                {% for item in items %}
                <li>Articulo- {{ item.title }}</li>
                <li>Precio- {{ item.unit_price }}</li>
                <li>Cantidad- {{ item.quantity }}</li>
                {% endfor %}
            </ul>
		</div>
        <script
            src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
            data-preference-id="{{ preference_id }}">// "{{ preference_id }}""6367338741216916"
        </script>
        {% comment %} // SDK MercadoPago.js V2
        <script src="https://sdk.mercadopago.com/js/v2"></script> 

        <script>
        // Agrega credenciales de SDK
        const mp = new MercadoPago('PUBLIC_KEY', {  
                locale: 'es-AR'
        });

        // Inicializa el checkout
        mp.checkout({
            preference: {
                id: '6367338741216916' // 'YOUR_PREFERENCE_ID'
            },
            render: {
                    container: 'Item', // '.cho-container'  Indica el nombre de la clase donde se mostrará el botón de pago
                    label: 'Pagar', // Cambia el texto del botón de pago (opcional)
            }
        });
        </script>
        {% endcomment %}

	<footer>
		&copy; All Rigts Reserved.
	</footer>
	<!-- END FOOTER | the footer element is also new to HTML5 -->
	</div>
</body>
</html>