<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Tranvia - Panel de control
    </title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static '/assets/js/plugins/nucleo/css/nucleo.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet"/>
    <!-- CSS Files -->
    <link href="{% static 'assets/css/argon-dashboard.css' %}" rel="stylesheet"/>
</head>
<body class="bg-default">

<div class="main-content" role="document">
    <img src="{{ tenant.logo }}" height="200px" width="230px"/>
    <div>
        <h4> {{ tenant.tenant.name }}</h4>
        <p>  {{ tenant.tenant.description }}</p>
    </div>

    <h1>Instrucciones generales</h1>
    <p> {{ prescription.description }} </p>
    <br/>
    <br/>
    <br/>
    Ubicanos en {{ tenant.tenant.address }}
</div>

{#<div class="modal-dialog no-print" role="document">#}
{#    <div class="modal-content">#}
{#        <div class="modal-body">#}
{#            <div class="prescription">#}
{#                <!-- business information -->#}
{#                <div class="panel-body prescription_header">#}
{#                    <div class="row">#}
{#                        <img src="{{ tenant.logo }}" class="img img-responsive center-block" height="250px"#}
{#                             width="250px">#}
{##}
{#                        <div class="col-xs-12 text-center naming">#}
{#                              <span style="width: 100% !important" class="word-wrap">#}
{#                                  {{ tenant.tenant.name }} <br>#}
{#                                  by Tranvia.Tech#}
{#                              </span>#}
{#                        </div>#}
{#                        <div class="col-xs-12 text-center">#}
{#                            <p style="width: 100% !important" class="word-wrap">#}
{#                            <span class="pull-left text-left word-wrap"> #}
{#                                <b>Paciente</b>  DEMO DEMO#}
{#                            </span>#}
{#                            <span class="pull-right text-left">#}
{#                                <b>Fecha</b>  #}
{#                            </span>#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{#                    <div class="row">#}
{#                        <div class="col-xs-12">#}
{#                            <br/>#}
{#                            <br/>#}
{#                            <p style="width: 100% !important" class="word-wrap">#}
{#                                <span class="pull-left text-left word-wrap">#}
{#                                  <b>Instrucciones generales</b> <br>#}
{#                                  {{ prescription.description }}#}
{#                                </span>#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="panel-body prescription_footer">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-12">#}
{#                            <!-- Address -->#}
{#                            <table class="table">#}
{#                                <thead>#}
{#                                <tr>#}
{#                                    <td class="pull-left">#}
{#                                        <ul class="list-style-none">#}
{#                                            <li><i class="fa fa-map-marker"></i> Ubicanos en {{ tenant.tenant.address }}</li>#}
{#                                        </ul>#}
{#                                    </td>#}
{#                                    <td class="pull-right text-right word-wrap" style="width:50%;">#}
{##}
{#                                    </td>#}
{#                                </tr>#}
{#                                </thead>#}
{#                            </table>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <style>#}
{##}
{#                .prescription * {#}
{#                    color: #005477 !important;#}
{#                    -webkit-print-color-adjust: exact; /* Chrome, Safari */#}
{#                    color-adjust: exact !important; /* Firefox */#}
{#                }#}
{##}
{#                .prescription .fa::before {#}
{#                    color: #005477 !important;#}
{#                }#}
{##}
{#                .prescription {#}
{#                    /*width: 130mm;#}
{#                    max-width: 130mm;*/#}
{#                    margin: 0 auto;#}
{#                }#}
{##}
{#                .prescription_header {#}
{#                    height: 150mm;#}
{#                    min-height: 150mm !important;#}
{##}
{#                }#}
{##}
{#<?php if($receipt_details->document_type != 8) { ?>#}
{#        .prescription_header {#}
{#          background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(../img/background_prescription.jpg) no-repeat !important;#}
{#          background-position: bottom center !important;#}
{#        }#}
{#<?php } ?>#}
{#                .prescription_header .naming {#}
{#                    border-top: 1px solid #09b3d1;#}
{#                    border-bottom: 1px solid #09b3d1;#}
{#                    background-color: #0174a3 !important;#}
{#                    padding: 10px 0px;#}
{#                }#}
{##}
{#                .prescription_header .naming span {#}
{#                    color: white !important;#}
{#                    font-weight: 700;#}
{#                }#}
{##}
{#                .prescription table.transparent#}
{#                .prescription .transparent thead,#}
{#                .prescription .transparent tbody,#}
{#                .prescription .transparent tr,#}
{#                .prescription .transparent th,#}
{#                .prescription .transparent td {#}
{#                    background: transparent !important;#}
{#                    border: 0 !important;#}
{#                }#}
{##}
{#                .prescription ul.list-style-none li {#}
{#                    display: block;#}
{#                    text-decoration: none;#}
{#                    font-size: 8pt;#}
{#                    list-style: none;#}
{#                }#}
{##}
{#                .prescription ul.list-style-none li i {#}
{#                    text-align: center;#}
{#                    font-size: 8pt;#}
{#                    margin-right: 3px;#}
{#                    font-weight: 500;#}
{#                    width: 20px;#}
{#                }#}
{#            </style>#}
{#        </div>#}
{#    <div class="modal-footer">#}
{#      <a href="#" class="print-invoice btn btn-primary" data-href="{{route('sell.printInvoice', [$sell->id, 'prescription=1'] )}}">#}
{#          <i class="fa fa-print" aria-hidden="true"></i> @lang("messages.print")</a>#}
{#        <button type="button" class="btn btn-default no-print" data-dismiss="modal">@lang( 'messages.close' )</button>#}
{#    </div>#}
{#    </div>#}
{#</div>#}

</body>
</html>




